In [1]:
names= ["kagetera","John","Peter","ALEX","Claude"]
names.append("HASINGIZWIMANA")
names.append("university ")
names.sort()
print(names)

['ALEX', 'Claude', 'HASINGIZWIMANA', 'John', 'Peter', 'kagetera', 'university of Kigali']

In [3]:

prices = {"Apple": 1000, "Banana": 500, "Mango": 1200}
print("Fruit Prices:")
for fruit, price in prices.items():
    print(f"{fruit}: {price} per kg")
total_cost = 0
for price in prices.values():
    total_cost += price * 2

print("\nTotal cost for buying 2 kg of each fruit:", total_cost)

Fruit Prices:
Apple: 1000 per kg
Banana: 500 per kg
Mango: 1200 per kg

Total cost for buying 2 kg of each fruit: 5400